// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";




// /******* manish css start********** /

// scroll bar

body::-webkit-scrollbar {
    width: 6px;
    /* Scroll bar ki width */
    background-color: #3c4b64;
    /* Scroll bar ka background color */
}

/* Scroll thumb (yani ki actual scroll bar handle) */
body::-webkit-scrollbar-thumb {
    background-color: #777889;
    /* Scroll bar handle ka color */
}

/* Scroll track (scroll bar ka background) */
body::-webkit-scrollbar-track {
    background-color: lightgray;
    /* Scroll bar ke background ka color */
}

// *** for aside baar  ********

.tfder {
    background-color: yellow;
    font-size: 20px;
}

html:not([dir=rtl]) .sidebar.hide:not(.sidebar-end) {
    width: 57px !important;
}

html:not([dir=rtl]) .sidebar.hide:not(.sidebar-end) .nav-title {
    display: none;
}

.sidebar {
    margin-left: 0px !important;
}

.sidebar-nav::-webkit-scrollbar {
    display: none;
}

.wrapper {
    padding-left: 250px;
}

.sidebar.hide:not(.sidebar-end)~* {
    padding-left: 60px !important;
}

html:not([dir=rtl]) .sidebar.hide:not(.sidebar-end) .mini-logo {
    display: block;
}

html:not([dir=rtl]) .sidebar.hide:not(.sidebar-end) .logo {
    display: none;
}



.mini-logo {
    display: none;
}

.logo {
    width: 70%;
}




@media (max-width:767px) {
    html:not([dir=rtl]) .sidebar.sidebar-fixed:not(.sidebar-end) {
        left: 0;
    }

    html:not([dir=rtl]) .wrapper {
        padding-left: var(--cui-sidebar-occupy-start, 0);
    }

    .sidebar:not(.sidebar-end)~* {
        --cui-sidebar-occupy-start: 16rem;
    }

    html:not([dir=rtl]) .sidebar.hide:not(.sidebar-end) {
        /* margin-left: calc(-1 * var(--cui-sidebar-width)); */
        width: 60px !important;
    }

    .sidebar.hide:not(.sidebar-end)~* {
        /* --cui-sidebar-occupy-start: 70px; */
        padding-left: 60px !important;
    }

}

@media (max-width:500px) {
    html:not([dir=rtl]) .sidebar:not(.sidebar-end):not(.show) {
        width: 0% !important;
    }

    .sidebar-brand {
        display: flex !important;
    }
}